body {
	background-color: #2980b9;
}
.form-control {
	border-radius: 0;
}
.box {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -250px;
	background-color:#FCFCFC;
	border-radius: 2px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
	text-align: center;
}
#login {
	padding: 10px;
}
#login .alert {
	margin-top: 10px;
}
#chat {
	height: 500px;
}
#messages {
	width: 100%;
	height: 466px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.36);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.36);
	overflow-y: scroll;
	padding: 10px;
}
.message-left {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}
.message-left > ul {
	width: 413px;
	float: left;
	padding-left: 10px;
	margin: 0;
}
.message-left > ul > li {
	text-align: left;
	list-style: none;
}
.imgProfile {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}
.message-left .imgProfile {
	float: left;
}
.imgProfile > img {
	width: 50px;
	margin: 0 auto;
}
.message-right {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}
.message-right > ul {
	width: 413px;
	float: right;
	padding-right: 10px;
	margin: 0;
}
.message-right > ul > li {
	text-align: right;
	list-style: none;
}
.imgProfile {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}
.message-right .imgProfile {
	float: right;
}